.navbaritems{
 justify-content: center;
}
.navbarstyle:hover{
    border-bottom: 2px solid #EE9322;
    
}
.downloadcv{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 5px 18px 5px 18px;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 0px;
    background-color: #EE9322;
    color: #fff;
    border-radius: 8px;
    border: none;
}
.downloadcv:hover{
    background-color: #ff8d02;
}
.pagefont{
    font-family: 'Poppins', sans-serif;
}
.headingtxt{
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 700;
    margin-top: 90px;
    margin-left: 22px;
}
.ganesh{
    color: #EE9322;
}
.descriptiontxt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 200;
    margin-left: 30px;
    margin-top: 10px;
    color: #5C5470;
}
.bannerhead{
    background-color: #141E46 ;
    margin-top: -5px;
}
.bannernum{
    justify-content: space-around;
    color: #EE9322;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}
.bannertxt{
    justify-content: space-around;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: -15px;
    font-weight: 200;
    margin-bottom: 0px;
}
.bannersubtxt{
    margin-right: 50px;
}
.bannersubtxt1{
    margin-right: 50px;
}
.bannersubtxt2{
    margin-right: 50px;
}
.aboutinfotxt{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.aboutinfodes{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 200;
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
    opacity: 80%;
}
.graphic{
    color: red;
}
.readmore{
    text-decoration: none;
    color: #EE9322;
}
.socialmedia{
    margin-top: 20px;
    margin-left: 25px;
}
.socialmedia:hover{
    text-shadow: 5px 5px 5px #000;
}
.skillinfo{
    padding-bottom: 80px;
}
.skillinfotxt{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.skillinfodes{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 200;
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
    font-style: italic;
    opacity: 80%;
}
.skillstxt{
    font-size: 38px;
    padding: 20px;
    font-weight: 200;
    display: flex;
    font-family: 'Playpen Sans', cursive;
    justify-content: center;
    padding-top: 80px;
    color: #fff;
}
.htmlogo{
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
.csslogo{
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
.javascriptlogo{
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
.bootstraplogo{
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
.htmltxt{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    color: #EE9322;
}
.card{
    box-shadow: 5px 5px 5px #000;
}
.hiretxt{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-top: 100px;
    margin-left: 22px;
}
.hiretxt1{
    color: #EE9322;
}
.hiredes{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin-left: 30px;
    margin-top: 35px;
}
.hiredes1{
    color: #EE9322;
}
.hirebtn{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 5px 18px 5px 18px;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 10px;
    background-color: #EE9322;
    color: #fff;
    border-radius: 8px;
    border: none;
}
.hirebtn:hover{
    background-color: #f38703;
}
.cardinfo{
    background-color: #141E46;
    color: #fff;
    width: 100%;
    margin-top: 120px;
    border-radius: 8px;
    border: none;
}
.cardinfo1{
    background-color: #141E46;
    color: #fff;
    width: 100%;
    border-radius: 8px;
    border: none;
}
.cardinfotxt{
    padding: 10px;
    font-size: 20px;
}
.cardinfodes{
    padding: 6px 10px 10px 10px;
}
.cardinfo:hover{
    box-shadow: 5px 5px 5px #000;
    cursor: pointer;
}
.cardinfo1:hover{
    box-shadow: 5px 5px 5px #000;
    cursor: pointer;
}
.projectidea{
    background-color: #EE9322;
    color: #fff;
    border-radius: 8px;
    border: none;
    margin-top: 120px;
}
.projectideatxt{
    font-size: 45px;
    padding: 35px 15px 12px 35px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    
}
.projectideades{
    font-size: 18px;
    padding-left: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000;
}
.projectideabtn{
    padding-top: 70px;
    padding-left: 140px;
}
#pingme{
    background-color: #000;
    font-size: 20px;
    padding: 8px 14px 8px 14px;
    border: none;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #EE9322;
}
.latestprojstxt{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-top: 150px;
    margin-left: 22px;
}
.latestprojsbanners{
    margin-top: 180px;
}
.latestprojsbanners:hover{
    box-shadow: 10px 10px 10px #000;
}
.footer{
    background-color: #000;
    margin-top: 150px;
}
.callinfo{
    background-color: #fff;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border-radius: 8px;
    border: none;
}
.footertitletxt{
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-top: 50px;
}
.footertitletxt1{
    color: #EE9322;
}
.footertitledes{
    font-size: 18px;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    opacity: 60%;
}
.callmelogo{
    padding-left: 8px;
}
.callme{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 8px;
}
.callmeno{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    opacity: 70%;
    padding: 0px 8px 8px 8px;
}
.emailmelogo{
    padding-left: 8px;
}
.emailme{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 8px;
}
.emailmeno{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    opacity: 70%;
    padding: 0px 8px 8px 8px;
}
.callinfoin1{
    width: 40%;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    margin-top: 50px;
}
.callinfoin2{
    width: 40%;
    margin-left: 6px;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    margin-top: 50px;
}
.callinfoin3{
    width: 82%;
    margin-left: 0px;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    margin-top: 20px;
}
#submitmsg{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 5px 18px 5px 18px;
    font-weight: 500;
    margin-top: 20px;
    background-color: #EE9322;
    color: #fff;
    border-radius: 8px;
    border: none;
}
#callsubmitlogos{
    padding-left: 6px;
}
.copyright{
    display: flex;
    justify-content: center;
    opacity: 40%;
    margin-top: 20px;
    color: #fff;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
.toolsmaintxt{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.toolssubtxt{
    color: #EE9322;
}
.visualmainheading{
    margin-top: 50px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
.visualmain{
    margin-left: 30px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.visualdes{
    padding-top: 15px;
    margin-left: 30px;
}